

@media(max-width: 790px){

 header .logo__area a{
    font-size: 16px;
line-height: 24px;

}

    .banner__content h1{
        font-size: 28px;
line-height: 42px;

    }

    .fa-shopping-cart,
    .fas {
        font-size: 24px;
    }


  
    .product__gallery{
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 20px;
    }


    .banner__section{
    
        grid-template-columns: 50% 50%;
  
    }


    .banner__section{
     
        grid-template-columns: 1fr 1fr;
    
   
    }

    .banner__section h1{
font-size: 40px;
line-height: 42px;
    }
    .logo__gallery{
  
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
       
    }
    .banner__section .banner__img img{
        
        width: 100%;
        max-width: 300px;
    }



}










@media(max-width: 605px){


    .banner__content h1{
        font-size: 28px;
line-height: 42px;
text-align: center;

    }

    .banner__content{
    
        align-items: center;
        padding: 20px 0 30px;
    }
    .banner__content p{
        text-align: center;
    }
    .logo__area{

    }
    .navigation{
       
    }
    .cart__icon{
      
    }
    .test__flex{
     
    }
 nav{
     height: fit-content;
     justify-content: space-between;

   
 }
 .nav__toggler__icon {
    display: block;
    order: -6;
  }
.navigation{
 position: absolute;
top: 60px;
left: 0;
width: 100%;
flex-direction: column;
align-items: center;
background-color: #E02C6D;
color: #fff;
z-index: 50;

transform: translateX(-600px);
transition: 1s all ease;
   
}
ul li a  {
 color: #fff;
margin:  10px 0;

}

#navToggler:checked ~ .navigation{
    transform: translateX(0px);
}
  


    .product__gallery{
        grid-template-columns: 1fr;
        grid-gap: 10px;
    }
    .banner__section{
     
        grid-template-columns: 1fr ;
   
   
  height: fit-content;
    }

    .banner__section .banner__img img{
        width: 200px;
    }
 
    .banner__section h1{
font-size: 30px;
line-height: 32px;
    }
    .banner__section img{
width: 80%;
padding-top: 20px;
    }

  .banner__content{
      order: 2;
  }
  
     
.wrapper__container{
   
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
   
   
}

.nav__toggler__icon{
    display: block;
}






.contact__details {
 
    grid-template-columns: 1fr ;
    text-align: center;
 
   
  }
  .contact__info{
    align-items: center;
    padding: 30px 0;
  }

form{
    margin: 0;
}



footer h3{
    font-size: 16px;
    line-height: 24px;
}


footer p{
    font-size: 12px;
    line-height: 24px;
    margin-bottom: 10px;
}

footer .fab{
    font-size: 14px;
   
    padding: 18px;
    
    margin: 0 7px;
}
















}

